// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {padding: 0; margin: 0}

body {color: #555; background:#FEFEFE; font-family: Calibri, Verdana, Arial, SunSans-Regular, Sans-Serif}

a {color: #169}
p {padding-bottom: 0.6em}
h1 {font-size: 1.3em; padding-bottom: 0.3em}
h2 {color: #ee9900}

#container {width:50em; background: #FBFBFB; margin-left: auto;
  margin-right: auto; padding: 0.6em; border-top: 0px;
  border: solid 1px #EEE; }

#header {color: #ddd; background: #77aa77; text-align: center; padding: 0.6em;  margin-bottom:0.6em; border: solid 1px #DDD}
#header h1 {font-size:1.6em}
#header h2 {color: #ddd; font-size:1.2em; font-style: italic; font-weight: normal}

#content {background:#FDFDFD; padding:0.6em; border: solid 1px #DDD;}

#footer {clear:both; border: solid 1px #DDD;padding:0.2em; margin-top: 0.6em; font-size: 0.8em}