<!DOCTYPE html>
<html>
<head>
  <title>Finance Tool Prototype</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

<div id="header">
	<h1>Finance Tool</h1>
	<h2>Enter your reimbursements faster.</h2>
</div>

<div id="content">
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<br/>
<%= yield %>
</div>

<div id="footer">
&copy 2012 David Raffensperger
</div>

</div>

</body>
</html>
